*~
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
tmp/restart.txt
.bundle
.yardoc
.rvmrc
.yardopts
doc/*
capybara-*.html
coverage
public/system/**
spec/fixtures/dag/*.xml
\#*\#
.#*
dump.rdb
config/database.yml
config/s3.yml
vendor/cache/*
*_packaged.js
*_packaged.css
.vagrant
Vagrantfile
